@keyframes ripple {
    0% {
        opacity: 1;
    }
    /*99% {
        opacity: 1;
    }*/
    100% {
        opacity: 1;
        transform: scale(5);
    }
}


/*决定水波纹的动画*/

.ripple-animate {
    animation: ripple 0.65s linear;
    animation-fill-mode: forwards;
    border-radius: 50%;
}


/*决定水波纹的位置*/

.md-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.md-ripple {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    height: 20px;
    width: 20px;
    opacity: 0;
    border-radius: 50%;
}