.animate {
        animation: ripple 1s linear;
        background-color: #eee;
        border-radius: 50%;
    }

    @keyframes ripple {
        100% {
            opacity: 0;
            transform: scale(3);
        }
    }
    
    .md-ripple {
        position: absolute;
        left: 0;
        top: 0;
        display: inline-block;
        height: 20px;
        width: 20px;
    }